body {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #1e1e2f;
}
.cursor-pointer {
    cursor: pointer;
}
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
}
.text-underline {
    text-decoration: underline;
}
